plaintext#logger > *,
#logger > * {
    width: *;
    padding-left: 4dip;
}

debug {
    color: rgb(150,150,150);
}

log {
    color: rgb(40,40,40);
}

warn {
    color: orange;
}

error {
    color: red;
    //font-weight: bold;
}
